<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pixel Studio{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Handjet:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="dots"></div>
    </div>
    <header>
        <div class="div-title">
            <h1 class="handjet-uniquifier">PIXEL STUDIO</h1>
        </div>

        <br>

        <nav class="nav-centered baskervville-sc-regular">
            <ul>
                <li><a href="{% url 'index' %}"><span class="material-symbols-outlined">home</span>INICIO</a></li>
                <li><a href="{% url 'services' %}"><span class="material-symbols-outlined">build</span>SERVICIOS</a></li>
                <li><a href="{% url 'contact' %}"><span class="material-symbols-outlined">contact_mail</span>CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h4 class="copyright">Derechos de autor &copy; 2024 Pixel Studio</h4>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
