{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="welcome-section">
    <h2 class="handjet-uniquifier">¡Bienvenidos!</h2>
    <p class="welcome-text">Nos alegra que estés aquí. En Pixel Studio, te ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades creativas. Explora nuestras ofertas y descubre cómo podemos ayudarte a hacer realidad tus ideas.</p>
</section>

<section class="welcome-section">
    <h2 class="handjet-uniquifier">Nuestros Servicios</h2>
    <p class="welcome-text">Ofrecemos una amplia gama de servicios para satisfacer tus necesidades.</p>
    <button class="explore-button">Explorar Servicios</button>
</section>
{% endblock %}
